<div class="comment-wrapper">
    <p class="single-comment-body m-0"><%- comment.body %></p>
    <div class="comment-footer flexBox spaceBetween alignCenter">
        <p class="single-comment-author m-0"><%- comment.author.givenName %> <%- comment.author.familyName %></p>
        <% if (user._id.toString() === comment.author._id.toString()) { %>
            <div class="admin-actions">
                <a href="#" class="mr-1">update</a>
                <a href="#">delete</a>
            </div>
        <% } %>
    </div>
    <hr>
</div>