<% post = data.data %>

<form action="#" method="post" post-id="<%- post._id.toString() %>">
    <textarea name="comment-body" id="comment-body" placeholder="Your comment..."></textarea>
    <input type="submit" value="send">
</form>