<% post = (data.data !== null && data.data['@type'] === 'Article') ? data.data : null %>
<% postExists = post !== null %>

<!--
    Créer le formulaire de connexion
-->

<form action="/post<%- postExists ? '/' + post._id.toString() : null %>" method="POST">

    <label for="headline">Titre</label>
    <input type="text" name="headline" required minlength="2" placeholder="Mon super titre" value="<%- postExists ? post.headline : null %>">

    <label for="body">Contenu</label>
    <textarea name="body" required minlength="2" placeholder="Mon super contenu"><%- postExists ? post.body : null %></textarea>

    <button type="submit">Ajouter</button>

</form>