<% user = data.user %>

<div class="like-infos flexBox alignCenter">
    <span class="like-wrapper mr-1">
        <span class="material-icons border">favorite_border</span>
        <span class="material-icons filled hide">favorite</span>
    </span>
    <span> - <%= entity.likes.length %></span>
</div>