/* 
Reset
*/
    :root{
        --main-color: red
    }

    input, button{
        margin-bottom: 0;
    }

    h1{
        font-size: 1.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 0;
        width: 100%;
    }
    
    a{
        color: inherit;
        text-decoration: none;
    }

    select{
        padding: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
    }
    
    form ul, #instagramUserHeader, #instagramFeed{
        list-style: none;
    }
    
    form ul{
        margin-bottom: 0;
    }
    
    form li {
        width: calc(100% - 9rem);
        margin-bottom: 0;
    }
    
    form li:last-child{
        width: 9rem;
        text-align: right;
    }

    .button, button, input[type='button'], input[type='reset'], input[type='submit']{
        background-color: var(--main-color);
    }

    .button, button, input[type='button'], input[type='reset'], input[type='submit'], input[type='color']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='month']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='week']:focus, input:not([type]):focus, textarea:focus, select:focus{
        border-color: var(--main-color);
    }

    label{
        margin-top: 1rem;
    }

    input + [type="submit"] {
        margin-top: 2rem;
    }
/**/


/* 
Commons
*/
    .flexBox{
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        display: flex;
    }

    .flexWarp{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flexCenter{
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;

        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .spaceBetween{
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -o-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .flexColumn{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flexColumn > *{
        margin: auto;
    }

    .alignCenter {
        align-items: center;
    }

    .hide {
        display: none;
    }

    .mr-1 {
        margin-right: 1rem;
    }

    .mb-1 {
        margin-bottom: 1rem;
    }

    .mt-1 {
        margin-top: 1rem;
    }

    .mr-2 {
        margin-right: 2rem;
    }

    .m-0 {
        margin: 0!important;
    }

    .material-icons {
        cursor: pointer;
    }
/**/



/* 
Global
*/
    header, main, footer{
        width: 100%;
        max-width: 70rem;
        margin: auto;
    }

    main{
        min-height: calc(100vh - 10rem);
    }

    header, footer{
        height: 5rem; 
    } 
    
    footer p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 900;
        width: 100%;
    }

    .like-wrapper {
        max-height: 24px;
    }
/**/

/*
Index
*/
    #index .comments-preview {
        position: absolute;
        background: white;
        padding: 3rem;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
        border-radius: 1rem;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-height: 70vh;
        width: 50%;
        overflow-y: auto;
    }
/**/